apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "async-processor.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "async-processor.labels" . | nindent 4 }}
imagePullSecrets:
  - name: {{ .Values.ap.imagePullSecret | default "" }}
